* {
    list-style: none;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 40vw;
    font-size: 1.1rem;
}

p:last-child {
    justify-content: flex-end;
}

p {
    display: flex;
    justify-content: space-between;
}

table {
    width: 40vw;
    text-align: center;
    font-size: 1.1rem;
}

@media screen and (max-width:600px) {
    form,
    table {
        width: 90vw;
        font-size: 1.02rem;
    }
}