*, body, html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  cursor: default;
}
@media (max-width: 768px) {
  *:hover, body:hover, html:hover {
    transform: none;
  }
}

@media (max-width: 768px) {
  header, section {
    overflow-x: hidden;
  }
}

.pc {
  display: block;
}
@media (max-width: 768px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media (max-width: 768px) {
  .sp {
    display: block;
  }
}

.main-ft {
  font-family: "kozuka-mincho-pr6n", serif;
  font-weight: 500;
  font-style: normal;
}

.pg-ft {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.eng-ft {
  font-family: "Book Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.fl {
  display: flex;
}

a {
  color: inherit;
  transition: 0.5s;
  cursor: pointer;
}
a * {
  cursor: pointer;
}

.pg {
  font-size: 1.198vw;
  letter-spacing: 0.11em;
  line-height: 1.65;
}
@media (max-width: 768px) {
  .pg {
    font-size: 2.995vw;
  }
}

.tlt_sm {
  font-size: 1.354vw;
  letter-spacing: 0.15em;
}
@media (max-width: 768px) {
  .tlt_sm {
    font-size: 3.385vw;
  }
}
.tlt_lg {
  font-size: 1.979vw;
  letter-spacing: 0.1em;
}
@media (max-width: 768px) {
  .tlt_lg {
    font-size: 4.948vw;
  }
}

#header {
  position: relative;
}
#header .menu {
  position: fixed;
  padding: 1.823vw 0 0 1.823vw;
  justify-content: space-between;
  width: calc(100vw - 3.646vw);
  z-index: 999;
}
#header .menu_btn {
  width: 3.333vw;
}
@media (max-width: 768px) {
  #header .menu_btn {
    width: 8.333vw;
  }
}
#header .menu_btn span {
  display: block;
  height: 2px;
  width: 100%;
  background: #ffffff;
}
#header .menu_btn span:nth-of-type(1) {
  margin-bottom: 0.781vw;
}
@media (max-width: 768px) {
  #header .menu_btn span:nth-of-type(1) {
    margin-bottom: 1.953vw;
  }
}
#header .menu_btn span:nth-of-type(3) {
  margin-top: 0.781vw;
}
@media (max-width: 768px) {
  #header .menu_btn span:nth-of-type(3) {
    margin-top: 1.953vw;
  }
}
#header .menu_btn p {
  text-align: center;
  padding-top: 0.938vw;
  color: #ffffff;
  font-size: 0.88vw;
  letter-spacing: 0.2em;
}
@media (max-width: 768px) {
  #header .menu_btn p {
    padding-top: 2.344vw;
    font-size: 2.214vw;
  }
}
#header .menu_list {
  align-items: flex-start;
}
#header .menu_list li {
  font-size: 1.25vw;
  letter-spacing: 0.08em;
  line-height: 1;
  padding: 0.521vw 1.302vw 0.521vw 0px;
  margin-right: 1.302vw;
  border-bottom: transparent 1px solid;
  transition: 0.5s;
  color: #000000;
}
@media (max-width: 768px) {
  #header .menu_list li {
    font-size: 3.125vw;
  }
}
#header .menu_list li:hover {
  border-bottom: #92d045 1px solid;
}
#header .bg {
  position: relative;
  align-items: center;
  justify-content: center;
}
#header .bg .fl {
  position: absolute;
  height: inherit;
  align-items: center;
  justify-content: center;
}
#header .bg .fl h1 {
  font-size: 3.646vw;
  writing-mode: vertical-rl;
  letter-spacing: 0.3em;
  line-height: 1.5;
}
@media (max-width: 768px) {
  #header .bg .fl h1 {
    font-size: 9.115vw;
  }
}
#header .bg .fl span {
  display: block;
  font-size: 0.98vw;
  writing-mode: vertical-rl;
  letter-spacing: 0.12em;
  line-height: 4;
}
@media (max-width: 768px) {
  #header .bg .fl span {
    font-size: 2.474vw;
  }
}

.wrap {
  max-width: 63.021vw;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrap {
    max-width: 90vw;
  }
}

.line {
  width: 1px;
  height: 4.375vw;
  display: block;
  background: #92d045;
}

img {
  width: 1920px;
  max-width: 100%;
}
@media (max-width: 768px) {
  img {
    max-width: none;
  }
}

.view_more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .view_more {
    margin: 10vw 0 0 0;
  }
}
.view_more h4 {
  position: relative;
  font-size: 1.25vw;
  text-align: center;
  letter-spacing: 0.12em;
  padding-left: 1.875vw;
  z-index: 1;
  transition: 0.8s;
}
@media (max-width: 768px) {
  .view_more h4 {
    font-size: 3.125vw;
    padding-left: 0;
  }
}
.view_more:hover h4 {
  letter-spacing: 0.2em;
}
.view_more:hover .circle--horizontal {
  transform: rotate(-180deg);
}

.circle--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translate(-2.6vw);
  transition: 0.6s ease-in-out;
}
@media (max-width: 768px) {
  .circle--horizontal {
    transform: translate(-6.51vw);
  }
}
.circle--horizontal p:nth-of-type(1) {
  width: 5.625vw;
  height: 5.625vw;
  border-radius: 999px;
  background: #e6ebef;
  border: 1px solid #92d045;
}
@media (max-width: 768px) {
  .circle--horizontal p:nth-of-type(1) {
    background: transparent;
    width: 14.063vw;
    height: 14.063vw;
  }
}
.circle--horizontal p:nth-of-type(2) {
  height: 1px;
  width: 5.208vw;
  background: #92d045;
  transform: translate(-1.875vw);
}
@media (max-width: 768px) {
  .circle--horizontal p:nth-of-type(2) {
    width: 13.021vw;
    transform: translate(-4.688vw);
  }
}

.circle--vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.circle--vertical h4 {
  font-size: 1.354vw;
  line-height: 1;
  letter-spacing: 0.12em;
}
@media (max-width: 768px) {
  .circle--vertical h4 {
    font-size: 3.385vw;
  }
}
.circle--vertical p:nth-of-type(1) {
  width: 2.604vw;
  height: 2.604vw;
  border-radius: 999px;
  background: transparent;
  border: 1px solid #92d045;
}
@media (max-width: 768px) {
  .circle--vertical p:nth-of-type(1) {
    width: 6.51vw;
    height: 6.51vw;
  }
}
.circle--vertical p:nth-of-type(2) {
  height: 5.208vw;
  width: 1px;
  background: #92d045;
  transform: translateY(-1.042vw);
  margin-bottom: 0.521vw;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .circle--vertical p:nth-of-type(2) {
    height: 10.021vw;
    transform: translateY(-2.604vw);
    margin-bottom: 1.3vw;
  }
}
.circle--vertical:hover {
  margin-top: 2.5vw;
}
.circle--vertical:hover p:nth-of-type(2) {
  height: 2.708vw;
}

.text__content {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5.729vw;
  padding-bottom: 5.729vw;
}
@media (max-width: 768px) {
  .text__content {
    position: relative;
    padding-top: 14.323vw;
    padding-bottom: 14.323vw;
  }
}
.text__content > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 998;
}
.text__content > div:nth-of-type(1) h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .text__content > div:nth-of-type(2) {
    position: absolute;
    right: -56%;
    bottom: 22%;
  }
}
.text__content > div:nth-of-type(2) img {
  max-width: 100%;
  padding-top: 4.583vw;
  width: 21.354vw;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .text__content > div:nth-of-type(2) img {
    width: 72vw;
    opacity: 0.5;
  }
}

main section.sec.sec-1 {
  background: #e6ebef;
}
@media (max-width: 768px) {
  main section.sec.sec-2 {
    display: flex;
    justify-content: center;
  }
  main section.sec.sec-2 img {
    max-width: 875px;
  }
}
main section.sec.sec-3 {
  flex-direction: column;
  align-items: center;
  padding: 9.115vw 19.271vw 9.115vw 19.271vw;
}
@media (max-width: 768px) {
  main section.sec.sec-3 {
    padding: 14.323vw 3.271vw 14.323vw 3.271vw;
  }
}
main section.sec.sec-3 .sec-3__title {
  text-align: center;
}
main section.sec.sec-3 .sec-3__title h2 {
  font-size: 2.865vw;
  line-height: 1;
  letter-spacing: 0.15em;
  margin-bottom: 1.042vw;
}
@media (max-width: 768px) {
  main section.sec.sec-3 .sec-3__title h2 {
    font-size: 7.161vw;
    margin-bottom: 2.604vw;
  }
}
main section.sec.sec-3 .sec-3__title h3 {
  font-size: 1.354vw;
  line-height: 1;
  letter-spacing: 0.2em;
  margin-bottom: 6.51vw;
}
@media (max-width: 768px) {
  main section.sec.sec-3 .sec-3__title h3 {
    font-size: 3.385vw;
    margin-bottom: 16.276vw;
  }
}
main section.sec.sec-3 .sec-3__items {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
main section.sec.sec-3 .sec-3__items .sec-3__item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.33%;
}
main section.sec.sec-3 .sec-3__items .sec-3__item__title {
  font-size: 1.042vw;
  writing-mode: vertical-rl;
  letter-spacing: 0.3em;
  padding-left: 0.417vw;
  padding-right: 0.417vw;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  line-height: 1;
  margin-bottom: 0.521vw;
}
@media (max-width: 768px) {
  main section.sec.sec-3 .sec-3__items .sec-3__item__title {
    font-size: 2.604vw;
    padding-left: 1.042vw;
    padding-right: 1.042vw;
    margin-bottom: 1.302vw;
  }
}
main section.sec.sec-3 .sec-3__items .sec-3__item img {
  width: 15.156vw;
  margin-bottom: 1.563vw;
}
@media (max-width: 768px) {
  main section.sec.sec-3 .sec-3__items .sec-3__item img {
    width: 23.156vw;
  }
}
main section.sec.sec-3 .sec-3__items .sec-3__item .view_more {
  width: auto;
}
main section.sec.sec-3 .sec-3__items .sec-3__item .view_more h4 {
  font-size: 0.938vw;
  letter-spacing: 0.15em;
  padding-left: 1.25vw;
}
@media (max-width: 768px) {
  main section.sec.sec-3 .sec-3__items .sec-3__item .view_more h4 {
    font-size: 2.344vw;
  }
}
main section.sec.sec-3 .sec-3__items .sec-3__item .view_more .circle--horizontal {
  transform: translate(0);
  padding-left: 1.25vw;
}
main section.sec.sec-3 .sec-3__items .sec-3__item .view_more .circle--horizontal p:nth-of-type(1) {
  width: 2.5vw;
  height: 2.5vw;
  background: #ffffff;
}
main section.sec.sec-3 .sec-3__items .sec-3__item .view_more .circle--horizontal p:nth-of-type(2) {
  width: 3.542vw;
  transform: translate(-1.25vw);
}
main section.sec.sec-3 .sec-3__items .sec-3__item:hover .view_more h4 {
  letter-spacing: 0.2em;
}
main section.sec.sec-3 .sec-3__items .sec-3__item:hover .view_more .circle--horizontal {
  transform: rotate(-180deg);
}
main section.sec.sec-3 .sec-3__items .sec-3__item:nth-of-type(1), main section.sec.sec-3 .sec-3__items .sec-3__item:nth-of-type(2), main section.sec.sec-3 .sec-3__items .sec-3__item:nth-of-type(3) {
  margin-bottom: 6.771vw;
}
@media (max-width: 768px) {
  main section.sec.sec-3 .sec-3__items .sec-3__item:nth-of-type(1), main section.sec.sec-3 .sec-3__items .sec-3__item:nth-of-type(2), main section.sec.sec-3 .sec-3__items .sec-3__item:nth-of-type(3) {
    margin-bottom: 16.927vw;
  }
}
main section.sec.sec-4 {
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  main section.sec.sec-4 .shop__img img {
    width: 113.932vw;
    opacity: 0.25;
  }
}
main section.sec.sec-4 .text__content {
  position: absolute;
  left: 52.083vw;
  top: 5.729vw;
  padding: 0;
  flex-direction: column;
}
@media (max-width: 768px) {
  main section.sec.sec-4 .text__content {
    left: 10%;
    top: 25%;
  }
}
main section.sec.sec-4 .text__content .view_more {
  margin: 2.865vw 0 0 11.6vw;
}
@media (max-width: 768px) {
  main section.sec.sec-4 .text__content .view_more {
    margin: 2.865vw 0 0 0;
  }
}
@media (max-width: 768px) {
  main section.sec.sec-4 .text__content .view_more h4 {
    padding-left: 0;
  }
}
main section.sec.sec-4 .okashi__img {
  position: absolute;
  top: -2.604vw;
  right: 12.5vw;
  width: 13.542vw;
}
@media (max-width: 768px) {
  main section.sec.sec-4 .okashi__img {
    display: none;
  }
}
main section.sec.sec-5 {
  position: relative;
  justify-content: center;
  align-items: center;
}
main section.sec.sec-5 .sec-5__content {
  position: absolute;
  justify-content: space-between;
  align-items: center;
}
main section.sec.sec-5 .sec-5__content > a:not(:last-of-type) {
  padding-right: 10.417vw;
}
@media (max-width: 768px) {
  main section.sec.sec-5 img {
    width: 875px;
  }
}

#footer {
  background: #e6ebef;
}
#footer .footer__media {
  justify-content: space-between;
  align-items: center;
  padding: 4.167vw 41.406vw 4.427vw 41.406vw;
}
@media (max-width: 768px) {
  #footer .footer__media {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10.417vw 0 4vw 0;
  }
  #footer .footer__media h5 {
    flex: 100% 1;
  }
  #footer .footer__media div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
  }
}
#footer .footer__media .footer__text {
  font-size: 1.146vw;
  letter-spacing: 0.1em;
}
@media (max-width: 768px) {
  #footer .footer__media .footer__text {
    font-size: 2.865vw;
  }
}
#footer .footer__media .fa-brands {
  font-size: 2.65vw;
  color: #000000;
  transition: 0.3s ease-in-out;
}
#footer .footer__media .fa-brands:nth-of-type(1) {
  padding-right: 1.1vw;
}
@media (max-width: 768px) {
  #footer .footer__media .fa-brands {
    font-size: 6.641vw;
    margin-top: 4vw;
  }
}
#footer .footer__media .fa-brands:hover {
  color: #92d045;
}
#footer .footer__logo {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.646vw;
}
@media (max-width: 768px) {
  #footer .footer__logo {
    padding-bottom: 10.417vw;
  }
}
#footer .footer__logo .footer__icon {
  width: 1.875vw;
  padding-bottom: 0.625vw;
}
@media (max-width: 768px) {
  #footer .footer__logo .footer__icon {
    width: 4.688vw;
    padding-bottom: 1.563vw;
  }
}
#footer .footer__logo small {
  font-size: 0.729vw;
  letter-spacing: 0.15em;
}
@media (max-width: 768px) {
  #footer .footer__logo small {
    font-size: 1.823vw;
  }
}

/*# sourceMappingURL=style.css.map */
